/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
} */

header {
    background: black;
    color: white;
    height: 7vh;
}

h2 {
    margin-left: 2%;
}

nav {
    margin: 20px;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;;
}

.bas {
    margin-left: 10%;
}

.accueil {
    background-image: url(Images_accueil/Banner.png);
    height : 100vh;
    width : 100%;
}

.icones {
    padding:  10px;
}

.vetements {
    padding: 15%;
    justify-content: space-around;
    background-image: url(images_accueil/boutons.png) no repeat / cover ;
}

.categories {
    font-weight: bold;
}

.nosvaleurs {
    background: #C3C9D9;
    width: 80vw;

    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.blocktext {
    /* padding: 20px;
    height: 300px; */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}