
html{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sanchez', serif;
}

div{
    display:block;
}

header{
    background: black;
    color: white;
    height: 7vh;
}

#confi{
    margin-left: -10px;
    margin-right: -10px;
}


.ryuyo{
    margin-left: 2%;
}

nav .icones { 
    gap: 10px;
    margin: 20px;
}


.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conf{
    margin-left: -10px;
    margin-right: -10px;
}

.logo{
   justify-content: flex-start ;
   margin: 30px;
}
h1{
   background-color: red;
   color: white;
} 
/*panier etc*/ 
#confi{
    max-width: 1220px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
   
}

.tom{
    background-color: #dabeae;
    border-radius: 10px;
}
.config{
    font-size: 0px;
}
.confirmation{
    margin: 40px auto;
    text-align: center;
    font-size: 26px;
    width:637px;
    height:23px;
    Top: -4490px;
    Left: -199px;
}

.active{
    font-weight: 700;
    color: black;
}


.s{
    font-size: 24px;
    color: #767676;
    display: inline-block;
    line-height: 31px;
    text-align: center;
}

.s::before{ 
    content: '>';
    padding: 0 10px;
}

/*resume*/
.resumer{
    margin-left: -10px;
    margin-right: -10px;
}

.articles{
    padding-right: 10px;
}

.promo{
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.proms{
    width: 100%;
    display: flex;
    padding: 24px;
}

.promos{
    position: relative;
    -webkit-box-flex: 1;
    flex: 1;
    padding: 12px;
    display: flex;
}

.section-prom{
    padding-left: 24px;
    background-color: #dabeae;
    width: 553px;
    height: 100px;
    border-radius: 20px;
}

.titre1{
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    line-height: 25px;
}

p{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 25px;
}

.operation{
    color: #222;
    font-weight: 700;
    font-size: 17px;
    cursor: pointer;  
}

.i2{
    padding-left: 10px;
    padding-top: 10px;
    width: 500px;
}

.icon{
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    vertical-align: middle;
}

.phrase{
    margin-top: 5px;
}

.lire{
    position: relative;
    font-size: 15px;
    line-height: 14px;
    padding-left: 24px;
}

.profit{
    vertical-align: middle;
}

/*panier*/
.lepanier{
    margin-bottom: 18px;
}

.monpanier{
    position: relative;
    padding: 24px 24px 4px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}
.pan{
    display: inline-block;
    margin: 0;
    font-size: 1.15em;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    line-height: 22px;
    padding-left: 24px;
}

table{
    display: table;
    text-indent: initial;
    border-color: grey;
    border-collapse: collapse;
    border-spacing: 0;
}

.vet{
    width: 100%;
    font-size: 12px;
}

td.enfant{
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
td.select{
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.select{
    border-bottom: 4px solid white;
}

th{
    display: table-cell;
    vertical-align: inherit;
    height: 48px;
    line-height: 48px;
    color: #222;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
}

.item{
    width: 50%;
    padding-left: 24px;
}

.tom{
    margin: 20px;
}

.prix{
    width: 20%;
    text-align: left;
}

.quantité{
    width: 13%;
    text-align: left;
}

.total{
    width: 17%;
    padding-right: 24px;
    text-align: right;
}

tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit
}

.vetement{
    border-top: 1px solid #f6f6f6;
    padding-top: 0;
}

.vetis{
    text-align: center;
}

tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    text-align: center;
}

.enfant{
    padding: 0;
    margin-bottom: 20px;
    min-height: 152px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
}

a{
    color: #666;
    text-decoration: none;
    background-color: transparent;
}

.invets{
    width: 116px;
    height: 154px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    float: left!important;
}

em{
    font-style: normal;
}

.ivets2{
    display: none;
    position: absolute;
    text-align: center;
    text-transform: lowercase;
    direction: ltr;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    width: 39px;
    top: 5px;
    left: 0;
}

.invets3{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #222;
    font-size: 14px;
    display: block;
    position: absolute;
    padding-left: 128px;
    width: 94%;
    text-align: left;
    cursor: pointer;
    z-index: 1;
}

.i2{
    /*vertical-align: middle;*/
    width: 100%;
}

.vet-lin{
    width: 100%;
    border: 0;
}

.taille{
    position: relative;
    padding-left: 128px;
    padding-right: 12px;
    text-align: left;
    height: 123px;
    
}

.tailles{
    display: block!important;
    margin-top: 32px;
}

.buton-taille{
    cursor: pointer;
    white-space: nowrap;
    display: inline-block;
    padding: 6px 15px;
    color: #222;
    background: #f2f2f2;
    border-radius: 14px;
    font-size: 13px;
    font-weight: 700;
    border: 1px solid #f2f2f2;
    margin-bottom: 8px;
}

[tabindex="0"]{
    outline: 0;
}

.choix-taille{
    margin-bottom: 10px;
}

.icon2{
    vertical-align: middle;
    color: #222;
    font-weight: 700;
    font-size: 12px;
    font-family: iconfont!important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

/*liste*/

.liste-envie{
    position: absolute;
    bottom: 0;
    white-space: nowrap;
    z-index: 1;
}
.favoris{
    display: inline-block;
    position: relative;
    margin-right: 24px;

}

.like{
    cursor: pointer;
    display: inline-block;
    position: relative;
    color: #222;
    text-decoration: none;
    font-size: 13px;
}

.icon3{
    font-size: 16px;
    vertical-align: middle;
}

.effacer{
    display: inline-block;
    position: relative;
    margin-right: 24px;
}

.efface{
    cursor: pointer;
    display: inline-block;
    position: relative;
    color: #222;
    text-decoration: none;
    font-size: 13px;
}

.like{
    padding-left: 20px;
}

/*prix*/

.col-price{
    display: table-cell;
    vertical-align: inherit;
}
.gd-price{
    width: 20%;
    text-align: left;
    position: relative;
    padding: 0;
    margin-bottom: 20px;
    min-height: 152px;
}
.table-cell{
    display: table-cell;
    display: block!important;
    padding-top: 32px;
    font-size: 16px;
    height: 152px;
    
}

.goods{
    display: block;
    line-height: 16px;
    color: #222;
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 700;
}

.c-bag-table tbody .gd-price {
    position: relative;
}
.c-bag-table .col-price {
    width: 20%;
    text-align: left;
}

.c-bag-table tbody td {
    padding: 0;
    margin-bottom: 20px;
    min-height: 152px;
}
.plus{
    padding: 0;
    margin-bottom: 20px;
    min-height: 152px;
    text-align: left;
    width: 13%; 
}

.pluss{
    display: table-cell;
    height: 152px;
    vertical-align: baseline;
    padding-top: 32px;
}

.pluse{
    white-space: nowrap;
    display: flex;
    height: 30px;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
}

.plis{
    list-style: none;
    display: inline-block;
    font-size: 14px;
    width: 25px;
    height: 28px;
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 100px 0 0 100px;
}

.icon-plus{
    font-family: iconfont!important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    height: 28px;
    line-height: 28px;
    text-align: center!important;
    display: block;
    font-size: 13px;
    opacity: .3;
    padding-left: 300px;
}

.number{
    list-style: none;
    display: inline-block;
    font-size: 14px;
}

.num1{
    width: 34px;
    height: 28px;
    line-height: 28px;
    text-align: center!important;
    border: none;
    outline: 0;
    background: 0 0;
    color: #000;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    font-size: 13px;
}

.numbers{
    width: 100%;
    height: 28px;
    line-height: 28px;
    text-align: center!important;
    display: block;
    font-size: 13px;
    width: 25px;
    height: 28px;
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 0 100px 100px 0;
}

.total-p{
    font-weight: 700;
    text-align: right;
    color: #222;
    padding-right: 24px;
    width: 17%;
}

#bagApp .bag-app .bag-holder .bag-contents-holder .bag-title-holder--total {
    padding-bottom: 16px;
    margin-bottom: 0;
}

#bagApp .bag-app .bag-holder .bag-contents-holder .bag-title-holder {
    padding: 24px 30px;
}

#bagApp .bag-app .bag-holder .bag-contents-holder .bag-title-holder .bag-title--total {
    border-bottom: 1px solid #eee;
    padding-bottom: 24px;
    margin-bottom: 14px;
}
#bagApp .bag-app .bag-holder .bag-contents-holder .bag-title-holder .bag-title {
    margin: 0;
    font-size: 1.15em;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    line-height: 22px;
}

#bagApp .bag-total-holder .bag-total-title-holder--subtotal {
    font-style: normal;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 6px;
}

#bagApp .bag-total-holder .bag-total-title-holder {
    letter-spacing: .5px;
    margin: .8em 0;
}

#bagApp .bag-total-holder .bag-total-title-holder .bag-total-price {
    float: right;
    letter-spacing: 2px;
    font-weight: 400;
}

#bagApp .bag-total-holder .bag-total-title-holder--delivery {
    font-style: normal;
    font-weight: 700;
    position: relative;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

#bagApp .bag-total-holder .delivery-dropdown-holder {
    margin-bottom: 10px;
    border-bottom: 1px solid #999;
}

.select2{
width: 300px;
}
#bagApp .bag-total-holder .delivery-dropdown-holder .select2-container {
    display: block;
    max-width: 100%;
    overflow: hidden;
}

.bag-title{
    padding-top: 30px;
}
#bagApp .select2-container {
    padding: 5px 0 5px 2px;
    letter-spacing: .6px;
}

#bagApp .select2-container--default .select2-selection--single {
    border: none;
    font-size: .75em;
}

#bagApp .bag-total-holder .delivery-dropdown-holder .select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
    font-size: 1.34em;
}


#bagApp .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #666;
}
.foot{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
#bagApp .bag-total-holder .bag-total-button-holder {
    margin: 25px 0 0 0;
}

#bagApp .bag-total-holder .bag-total-button--checkout {
    text-decoration: none;
}

#bagApp .bag-total-holder .bag-total-button {
    letter-spacing: 1.9px;
    max-width: 100%;
}

.bag-total-button{
    padding-right: 25px;
}

.bag-title-quicklink{
    background-color: black;
    color: #dabeae;
}

.bag-total-button-holder{
    vertical-align: middle; 
    margin-top: 70px;
    font-size: 50px;
}
.bag-total-button {
    background: black;
    color: #dabeae;
    border: 4px solid;
    border-radius: 5px;
   
}

#confi .bag-total-holder{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.bag-total-holder{
    margin-top: 170px;
    padding-left: 20px;
    background-color: white;
    text-align: center;

}

@media (min-width: 768px){
    .commande{
        width: 33.33333333%;
    }
}

/*footer*/
footer{
    border: 4px solid black;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px;
}
    
.footerinformation{
    display:flex;
    flex-direction: column;
    gap: 10px;    
    
}        
    
.footerinformation a{
   text-decoration: none;
    color: white;
}
    
    
.inscription{
    display:flex;
    color: white;
    align-items: flex-end;
    flex-direction: column;
    gap: 10px;
}    
          
          
.Réseauxsociaux .p {
    display: flex;
    padding: 10px;
    gap: 20px;
    justify-items: flex-end;
    padding: 20px;
}    
    
.p{
    
display: flex;
justify-items: center;
flex-direction: column;
gap: 10px;
}
    
.imagesréseaux{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
    padding: 40px;     
}            
    
.paiement {
    justify-items: flex-start;
    color: white; 
    padding: 10px;
         
}
    
    
.serviceclient{
    padding: 10px;
    padding-bottom: 15px;
}      
    
    
@media (max-width: 900px) {
    .flex {
        flex-direction: column;
        height: 100%;
    }
}      
    
@media (max-width: 1000px) {
    footer  {
        flex-direction: column;
        height: 90%;
    }
}    
     
