*{
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}

body{
    font-family: ;
}

.bandeau{
    background-color: rgba(233, 160, 161, 0.4);
    display: flex;
    justify-content: flex-start;
    margin-bottom: 50px;
    padding: 15px;

}

.titreRecherche{
    border: 1px red solid;
    grid-area: t;
    width: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    
}

h2{
    text-align: center;

}


main{
   
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "t t"
    "a b"
    "c d"
    "e f"
    "g h";
    
}

h2{
    grid-area: t;
    display: flex;
    justify-content: center;
}

.box1{
    grid-area: a;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    font-size: larger;
}


.box2{
    grid-area: b;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    font-size: larger;
}


.box3{
    grid-area: c;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    font-size: larger;
}


.box4{
    grid-area: d;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    font-size: larger;
}

.box5{
    grid-area: e;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    font-size: larger;
}

.box6{
    grid-area: f;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    font-size: larger;
}

.box7{
    grid-area: g;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    font-size: larger;
}

.box8{
    grid-area: h;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    font-size: larger;
}

.bandeaubas{
    display: flex;
    justify-content: flex-end;
}





 
 




