*{
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}

.bandeau{
    background: url(images/bandeauMarque.png) no-repeat center/
    cover;
    display: flex;
    justify-content: center;

}


main{
   
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    "h ."
    "a b"
    "c d"
    "e f";
    
}

h2{
    grid-area: h;
    display: flex;
    justify-content: center;
}

.box1{
    grid-area: a;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    font-size: larger;
}


.box2{
    grid-area: b;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    font-size: larger;
}


.box3{
    grid-area: c;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    font-size: larger;
}


.box4{
    grid-area: d;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    font-size: larger;
}

.box5{
    grid-area: e;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    font-size: larger;
}

.box6{
    grid-area: f;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    font-size: larger;
}





 
 




